/* ======================= GLOBAL ===================================== */

h1, h3{
  text-align: center;
}

p{
  text-align: justify;
}

.row{
  padding: 0 10% 0 10%;
}

#r1{
  width: 100%;
  background-image: url(../img/frontBackground.jpg);
  color: white;
  padding: 0;
}

#r3{
  background-color: #f6f9fb;
}

#r4{
  text-align: center;
}

#r5{
  text-align: center;
  background-color: #f6f9fb;
}

#r6{
  margin: 0;
  padding-left:0;
  padding-right:0;
}

#r2, #r3, #r4, #r5, #r6{
  padding-top: 80px;
  padding-bottom:80px;
}

#r3c p{
  margin-top: 10px;
  margin-bottom: 60px;
}

#r3c h3{
  margin-top: 20px;
}

#r1 h1, #r2 h1, #r3 h1, #r4 h1, #r5 h1, #r6 h1{
  font-size: 350%;
}

#r1 h3, #r2 h3, #r3 h3, #r4 h3, #r5 h3, #r6 h3{
  margin-top: 30px;
}

#r3 h3{
  font-size: x-large;
}
 
#r6{
  padding-bottom: 0px;
}

#r6 p{
  text-align: center;
}

#r6 span{
  padding-right: 10px;
  padding-top: 10px;
}

#map_canvas {
  width: 100%;
}

/* ======================= MOBILE ONLY ===================================== */

@media only screen and (max-width: 480px){
    #r1{
      height: auto;
    }

    #r3b .col-md-4{
      padding-top: 40px;
    }

    .row{
      padding-left: 5%;
      padding-right: 5%;
    }
}


/* ======================= TABLET+ ===================================== */

@media (min-width: 480px) {
	.btn-theme {
		color: black;
		background-color: transparent;
		border-color: transparent;
	}
}
 
 @media (min-width: 768px){
  #r1{
    height: 100%;
  }
 }    