/* ----------------------------------------- GLOBAL ----------------------------------------- */

h1, h3{
  text-align: center;
}

#aboutR5 p{
  text-align: justify;
}

.row{
  padding: 0 10% 0 10%;
}

#aboutR2{
  /*background-color: #f6f9fb;*/
  background: url(img/backgrounds/subtle_dots.png);
}

#aboutR3{
  
  background: url(img/backgrounds/white_wall_hash.png);
}

#aboutR4{
  text-align: center;
  background-color: #f6f9fb;
}

#aboutR5{
  text-align: center;
  /*background-color: #f6f9fb;*/
  
  background: url(img/backgrounds/cork_1.png);
}

#aboutR2, #aboutR3, #aboutR4, #aboutR5, #aboutR6{
  padding-top: 80px;
  padding-bottom:80px;
}

#aboutR3c p{
  margin-top: 10px;
  margin-bottom: 60px;
}

#aboutR3c h3{
  margin-top: 20px;
}

#aboutR2 h1, #aboutR3 h1, #aboutR4 h1, #aboutR5 h1, #aboutR6 h1{
  font-size: 350%;
}

#aboutR2 h3, #aboutR3 h3, #aboutR4 h3, #aboutR5 h3, #aboutR6 h3{
  margin-top: 30px;
}

#aboutR3 h3{
  font-size: x-large;
}
 
#aboutR6{
  padding-bottom: 0px;
  margin: 0;
  padding-left:0;
  padding-right:0;
  background: url(img/backgrounds/old_moon.png);
}

#contactUs{
  padding-bottom: 50px;
}

#aboutR6 p{
  text-align: center;
}

#aboutR6 span{
  padding-right: 10px;
  padding-top: 10px;
}

#aboutR6 em{
  color: #7f8c97;
}

#aboutR6 em:hover{
  color: #657078;
}

#map_canvas {
  width: 100%;
}

#aboutR5 .row .row{
  padding-top: 30px;
}

#aboutR2b img{
  margin-bottom: 30px;
  border: 5px solid white;
}

#brands p{
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}

#gmap_canvas img{
  max-width:100%;
  background:none!important
}

/* ----------------------------------------- MEDIA QUERIES ----------------------------------------- */

@media (max-width: 480px){
    #aboutR3b .col-md-4{
      padding-top: 40px;
    }

    .row{
      padding-left: 5%;
      padding-right: 5%;
    }
}

@media (min-width: 480px) {
	.btn-theme {
		color: black;
		background-color: transparent;
		border-color: transparent;
	}
}