/* ======================= MOBILE & TABLET ===================================== */
	
	.row{
		padding: 0 10% 0 10%;
	}

	#r0a{
		height: 120px;
	}

	#r1a{
		height: auto;
	}

	#r2a{
		padding-top: 40px;
		height: auto;
	}

	#r3a{
		padding-top: 40px;
		height: auto;
	}	

	#r4a{
		height: auto;
    	padding: 40px 10% 80px 10%;
	}

	#r4a p{
		text-align: center;
		padding-top: 8px;
	}

	.btn-theme{
		background-color: transparent;
		color: white;
		width: 100%;
		height: auto;
		border-radius: 0;
		border-color: white;
		border-style: dashed;
		padding: 1em 0 1em 0px;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.btn-theme:hover, .btn-theme:focus{
		color: #e9e0b7;
		border-color: #e9e0b7;
	}

	#ericDivider{
		border-width: 0px;
		border-right-style: none;
	}

	#ericDivider p{
		text-align: center;
		color: #a5aeb6;
	}

	em{
		font-style: italic; 
		color: #a5aeb6;
	}

	#lightSlider{
		padding-top: 20px;
	}

	.quote{
		text-align: center;
	}

	.reference{
		margin-top: 20px;
		text-align: center;
	}

	#r1a span, #lightSlider li p span, #r4a em{
		color: #e9e0b7;
	}

	.cd-timeline-img{
		background-color: #547e3d;
	}

/* ======================= WIDESCREEN+ ===================================== */

@media (min-width: 768px) {

  /*.dropdown:hover .dropdown-menu {
    display: block;
 }*/
    .row{
		padding: 0 10% 0 10%;
	}

	#r0a{
		height: 30%;
	}

	#r1a{
		height: 15%;
		padding: 0;
	}

	#r2a{
		height: 15%;
	    padding-left: 20%;
	    padding-right: 22%;
	    width: 100%;
	}

	#r3a{
		height: 15%;
	}	

	#r3a ul{
 		list-style-type: none;
 		text-align: center;
 	}

 	#r3a ul li{
 		display: inline;
 		padding-left: 5%;
 		padding-right: 5%;
 	}

	#r4a{
		height: 25%;
	    padding-left: 20%;
	    padding-right: 20%;
	}

	.btn-theme{
		background-color: transparent;
		color: white;
		width: auto;
		height: auto;
		text-align: center;
		padding: 1em 2em 1em 2em;
		border-radius: 0;
		border-color: white;
	}

	#ericDivider{
		border-right-style: solid; 
		border-width: 1px;
	}

	#lightSlider{
		padding-top: 0; 	
	}
	
	#lightSlider .active{
		max-width: 1100px;
	}
}

