/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body{
	height: 100%;
	width: 100%; 
	padding:0;
	margin:0;
  font-family: "Open Sans", sans-serif;
}

h1{
  text-align: center;
  padding-bottom: 40px;
}

.dropdown:hover .dropdown-menu {
    display: block;
 }

.row{
	margin:0;
}

p{
	text-align: justify;
}

#wrapper{
  height: 100%;
}

#sideBar{
  padding: 150px 30px 80px 30px;
  background-color: #ffffee;
}

#collage{
  height: auto;
}

/* MOBILE */
@media only screen and (max-width: 480px){
	
    #sideBar{
      height: auto;
    }

}


/* INTERMEDIATE */
@media only screen and (min-width: 480px) {
}
 
/* WIDE */
@media (min-width: 770px){
  #sideBar{
    position: fixed;
    height: 100%;
  }
}