/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* GLOBAL */
#r1{
	margin-bottom: 40px;
}

.btn-theme:focus, .btn-theme:hover{
}

.btn-theme a{
	color: white;
}

#btnCommercial{
	color: white;
	margin-top: 10px;
	text-align: center;
	background-image: url(../img/button_hardscape_commercial.jpg);
	font-weight: bold;
}

#btnResidential{
	color: white;
	background-image: url(../img/button_hardscape_residential.jpg);
	text-align: center;
	font-weight: bold;
}

p{
	text-align: justify;
}

#demo1 li img{
	max-width: 2000px;
	max-height: 800px;
}

/* MOBILE */
@media only screen and (max-width: 480px){
  	#btnCommercial{
  		width: 100%;
  		height: 180px;
  		padding: 80px;
  		text-align: center;
  		color: black;
  	}

  	#btnResidential{
  		width: 100%;
  		height: 180px;
  		padding: 80px;
  		text-align: center;
  		color: black;
  	}

  	#sideBar{
  		padding:0;
  	}
}


/* INTERMEDIATE */
@media only screen and (min-width: 480px) {

	#r1{
		text-align: center; 
	}

	.btn-theme {
		color: black;
		background-color: transparent;
		border-color: transparent;
	}

	#btnCommercial{
		background-repeat: no-repeat;
		width: 45%;
		height: 180px;
		line-height: 180px;
		margin: 40px auto 40px auto;
		padding: 0px;
	}

	#btnResidential{
		background-repeat: no-repeat;
		width: 45%;
		line-height: 180px;
		margin: 40px 20px 40px auto;
		padding:0px;
	}
}
 
/* WIDE */
@media (min-width: 992px){
	#btnCommercial{
		background-repeat: no-repeat;
		width: 100%;
		height: 180px;
		line-height: 180px;
		margin: 10px 0 0 0;
	}

	#btnResidential{
		background-repeat: no-repeat;
		width: 100%;
		line-height: 180px;
		margin: 0;
	}
}