#hardscapeWrapper{
	height: auto;
	background: url(img/backgrounds/dust.png);
}

p{
	line-height: 150%;
}

#hardscapeR1{
	margin-top: 50px;
	margin-bottom: 40px;
}

#hardscapeR1, #hardscapeR2{
	padding-left: 0;
	padding-right: 0;
}

#buttonBar .btn-theme{
	color: white;
	background-color: transparent;
	border-color: transparent;
	background-repeat: no-repeat;
}

#buttonBar .btn-theme:hover{
	webkit-box-shadow: inset 10px 10px 200px 0px black;
	-moz-box-shadow: inset 10px 10px 200px 0px black;
	box-shadow: inset 10px 10px 200px 0px black;
}

#hardscapeBtnCommercial{
	color: white;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	background-image: url(../css/img/button_hardscape_commercial.jpg);
	font-weight: bold;
}

#hardscapeBtnResidential{
	color: white;
	background-image: url(../css/img/button_hardscape_residential.jpg);
	text-align: center;
	font-weight: bold;
}

p{
	text-align: left;
}

#demo1 li img{
	max-width: 2000px;
	max-height: 800px;
}

.hardscapeSubtitle{
	margin-bottom: 20px;
	font-size: x-large;
}

.hardscapeParagraph{
	margin-bottom: 30px;
}

/* ----------------------------------------- MEDIA QUERIES ----------------------------------------- */

@media only screen and (max-width: 480px){
  	#hardscapeBtnCommercial{
  		width: 100%;
  		height: 180px;
  		padding: 80px;
  		margin-bottom: 60px;
  		text-align: center;
  		color: black;
  	}

  	#hardscapeBtnResidential{
  		width: 100%;
  		height: 180px;
  		padding: 80px;
  		text-align: center;
  		color: black;
  	}

  	#buttonBar{
  		padding:0;
  	}
}

@media (min-width: 480px) {

	#hardscapeR1{
		text-align: center; 
	}

	#buttonBar li{
		display: inline;
	}

	#hardscapeBtnCommercial{
		width: 45%;
		height: 180px;
		line-height: 180px;
		margin: 40px auto 40px auto;
		padding: 0px;
	}

	#hardscapeBtnResidential{
		width: 45%;
		line-height: 180px;
		margin: 40px 20px 40px auto;
		padding:0px;
	}
}
 
@media (min-width: 992px){
	#hardscapeBtnCommercial{
		width: 100%;
		height: 180px;
		line-height: 180px;
		margin: 10px 0 60px 0;
	}

	#hardscapeBtnResidential{
		width: 100%;
		line-height: 180px;
		margin: 0;
	}
}

@media (min-width: 1200px){
	#hardscapeR1, #hardscapeR2{
		padding-left: 15%;
		padding-right: 15%;
	}
}