/* ======================= GLOBAL ===================================== */

html, body{
	background-image: url(http://placehold.it/1920x1080); 
}

/* ======================= MOBILE ONLY ===================================== */

@media (max-width: 480px){
	#r0a{
		height: auto;
	}

	#r1a{
		padding-top: 40px;
		height: auto;
	}

	#r2a{
		padding-top: 40px;
		height: auto;
	}

	#r3a{
		padding-top: 40px;
		height: auto;
		text-align: center;
	}	

	#r4a{
		height: auto;
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 40px;
		text-align: justify;
	}

	#r5a{
		padding-top: 40px;
		height: 5%;
	}

	.btn-theme{
		background-color: transparent;
		color: #7f8c97;
		width: 100%;
		height: auto;
		border-radius: 0;
		border-color: #7f8c97;
		padding: 1em 0 1em 0px;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	#ericDivider{
		border-width: 0px;
		border-right-style: none;
		text-align: justify;
	}

	#wordsDivider{
		text-align: center;
		padding-top: 20px;
	}
}


/* ======================= TABLET+ ===================================== */

@media only screen and (min-width: 480px) {

  .dropdown:hover .dropdown-menu {
    display: block;
 }

	#r0a{
		height: 20%;
	}

	#r1a{
		height: 15%;
	}

	#r2a{
		height: 15%;
	}

	#r3a{
		height: 25%;
	}	

	#r4a{
		height: 20%;
	}

	#r5a{
		height: 5%;
	}

	.btn-theme{
		background-color: transparent;
		color: #7f8c97;
		width: 100%;
		height: auto;
		text-align: center;
		padding: 1em 0 1em 0;
		border-radius: 0;
		border-color: #7f8c97;
	}

	#ericDivider{
		border-right-style: solid; 
		border-width: 1px;
		text-align: justify;
	}

	#wordsDivider{
		text-align: left;
	}

}

/* ======================= WIDESCREEN ===================================== */

@media only screen and (min-width: 768px) {

	#r0a{
		height: 20%;
	}

	#r1a{
		height: 15%;
	}

	#r2a{
		height: 15%;
	}

	#r3a{
		height: 25%;
    padding-top: 30px;
	}	

	#r4a{
		height: 20%;
	}

	#r5{
		height: 5%;
	}

	.btn-theme{
		background-color: transparent;
		color: #7f8c97;
		width: 100%;
		height: auto;
		padding: 1em 0 1em 0;
		border-radius: 0;
		border-color: #7f8c97;
		margin: 0;
	}
}

/* ======================= BOOTSTRAP OVERRIDE ===================================== */

@media (min-width: 480px) and (max-width: 767px){
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: 0;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: 0;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
}