/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body{
	height: 100%;
	width: 100%; 
	padding:0;
	margin:0;
  font-family: "Open Sans", sans-serif;
}

.row{
	margin:0;
}

#r1{
	margin-bottom: 40px;
}

#btnCommercial{
	margin-top: 10px;
}

p{
	text-align: justify;
}

/* MOBILE */
@media only screen and (max-width: 480px){

  	#btnCommercial{
  		width: 100%;
  		height: 180px;
  		padding: 80px;
  		text-align: center;
  		background-image: url(http://placehold.it/292x180);
  		color: black;
  	}

  	#btnResidential{
  		width: 100%;
  		height: 180px;
  		padding: 80px;
  		text-align: center;
  		background-image: url(http://placehold.it/292x180);
  		color: black;
  	}

  	#sideBar{
  		padding:0;
  	}
}


/* INTERMEDIATE */
@media only screen and (min-width: 480px) {

	#r1{
		text-align: center; 
	}

	.btn-theme {
		color: black;
		background-color: transparent;
		border-color: transparent;
	}

	#btnCommercial{
		background-image: url(http://placehold.it/292x180);
		background-repeat: no-repeat;
		width: 45%;
		height: 180px;
		line-height: 180px;
		margin: 40px auto 40px auto;
		padding: 0px;
	}

	#btnResidential{
		background-image: url(http://placehold.it/292x180);
		background-repeat: no-repeat;
		width: 45%;
		line-height: 180px;
		margin: 40px 20px 40px auto;
		padding:0px;
	}
}
 
/* WIDE */
@media (min-width: 992px){
	#btnCommercial{
		background-image: url(http://placehold.it/292x180);
		background-repeat: no-repeat;
		width: 100%;
		height: 180px;
		line-height: 180px;
		margin: 10px 0 0 0;
	}

	#btnResidential{
		background-image: url(http://placehold.it/292x180);
		background-repeat: no-repeat;
		width: 100%;
		line-height: 180px;
		margin: 0;
	}
}
