/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body{
	height: 100%;
	width: 100%; 
	padding:0;
	margin:0;
  font-family: "Open Sans", sans-serif;
}

.row{
	margin:0;
}

.navbar {
		font-weight: 800;
		font-size: 14px;
		padding-top: 10px;
		background-color: #ffffff;
	}

ul{
	text-align: justify;
	list-style: none;
}

#r1{
	margin-bottom: 40px;
}

#btnCommercial{
	margin-top: 10px;
}

li span{
	padding: auto;
}

p{
	text-align: justify;
}

.dropdown-menu{
	text-align: centers;
}

/* MOBILE */
@media only screen and (max-width: 480px){
	.navbar .navbar-collapse {
	    padding: 0;
	    max-height: none;
	  }

  	.navbar ul {
    	float: none;
  	}

  	.navbar ul:not {
    	display: block;
  	}

  	.navbar li {
    	float: none;
    	display: block;
  	}

  	.navbar li a {
    	padding-top: 12px;
    	padding-bottom: 12px;
  	}

  	#btnCommercial{
  		width: 100%;
  		height: 180px;
  		padding: 80px;
  		text-align: center;
  		background-image: url(http://placehold.it/292x180);
  		color: black;
  	}

  	#btnResidential{
  		width: 100%;
  		height: 180px;
  		padding: 80px;
  		text-align: center;
  		background-image: url(http://placehold.it/292x180);
  		color: black;
  	}

  	#sideBar{
  		padding:0;
  	}
}


/* INTERMEDIATE */
@media only screen and (min-width: 480px) {

  .dropdown:hover .dropdown-menu {
    display: block;
 }


	#r1{
		text-align: center; 
	}

	.btn-theme {
		color: black;
		background-color: transparent;
		border-color: transparent;
	}

	#btnCommercial{
		background-image: url(http://placehold.it/292x180);
		background-repeat: no-repeat;
		width: 45%;
		height: 180px;
		line-height: 180px;
		margin: 40px auto 40px auto;
		padding: 0px;
	}

	#btnResidential{
		background-image: url(http://placehold.it/292x180);
		background-repeat: no-repeat;
		width: 45%;
		line-height: 180px;
		margin: 40px 20px 40px auto;
		padding:0px;
	}
}
 
/* WIDE */
@media (min-width: 992px){
	#btnCommercial{
		background-image: url(http://placehold.it/292x180);
		background-repeat: no-repeat;
		width: 100%;
		height: 180px;
		line-height: 180px;
		margin: 10px 0 0 0;
	}

	#btnResidential{
		background-image: url(http://placehold.it/292x180);
		background-repeat: no-repeat;
		width: 100%;
		line-height: 180px;
		margin: 0;
	}
}

/*Bootstrap column stack breakpoint override 
@media (min-width: 480px) and (max-width: 767px){
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: 0;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: 0;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
}