/* ======================= GLOBAL ===================================== */

#r1{
	margin-bottom: 40px;
}

p{
	text-align: justify;
}

.btn-theme a{
	color: white;
}

#btnCommercial{
	margin-top: 10px;
	text-align: center;
	background-image: url(../img/button_softscape_commercial.jpg);
	font-weight: bold;
}

#btnResidential{
	text-align: center;
	background-image: url(../img/button_softscape_residential.jpg);
	font-weight: bold;
}

/* ======================= MOBILE ONLY ===================================== */

@media (max-width: 480px){

  	#btnCommercial{
  		width: 100%;
  		height: 180px;
  		padding: 80px;
  	}

  	#btnResidential{
  		width: 100%;
  		height: 180px;
  		padding: 80px;
  	}

  	#sideBar{
  		padding:0;
  	}
}


/* ======================= TABLET+ ===================================== */

@media (min-width: 480px) {

	#r1{
		text-align: center; 
	}

	.btn-theme {
		color: black;
		background-color: transparent;
		border-color: transparent;
	}

	#btnCommercial{
		width: 45%;
		height: 180px;
		line-height: 180px;
		margin: 40px auto 40px auto;
		padding: 0px;
	}

	#btnResidential{
		width: 45%;
		line-height: 180px;
		margin: 40px 20px 40px auto;
		padding: 0px;
	}
}
 
/* ======================= WIDESCREEN ===================================== */

@media (min-width: 992px){
	#btnCommercial{
		width: 100%;
		height: 180px;
		margin: 10px 0 0 0;
		padding: auto;
	}

	#btnResidential{
		width: 100%;
		margin: 0;
		padding: auto;
	}
}
