<title>Specialties</title>

<navbar></navbar>

<!--wrapper-->
<div id="wrapper" class="row">
    <div id="sideBar" style="background: url(css/img/backgrounds/old_moon.png)">
        <div class="row">
            <h2>SPECIALITIES</h2>
        </div>

        <div class="row">
            <p>Our expertise ranges from large ponds and original metalwork to rooftop gardens and unique wood structures.</p>
        </div>

        <div class="row" style="margin-top: 30px">
            <h2>EXPLORE</h2>
            <a href="#/specialties-woodwork">Woodwork</a> | 
            <a href="#/specialties-stonework">Stonework</a>
        </div>
    </div> 

    <div id="collage">
        <img src="css/img/Specialities 1.jpg">
        <img src="css/img/Specialities 2.jpg">
        <img src="css/img/Specialities 3.jpg">
        <img src="css/img/Specialities 4.jpg">
        <img src="css/img/Specialities 5.jpg">
        <img src="css/img/Specialities 6.jpg">
    </div>
</div>

<!--Row 2-->
<div id="r2" class="row">
</div>
