<navbar></navbar>

<!--wrapper-->
<div id="wrapper" class="row">
    <div id="sideBar">
        <div class="row">
            <h2>SPECIALITIES OTHER</h2>
        </div>

        <div class="row">
            <p>We also specialize in building large ponds, unique wood structures and original metal work. Original and unique. </p>
        </div>
    </div> 

    <div id="collage">
        <img src="css/img/Specialities 1.jpg">
        <img src="css/img/Specialities 2.jpg">
        <img src="css/img/Specialities 3.jpg">
        <img src="css/img/Specialities 4.jpg">
        <img src="css/img/Specialities 5.jpg">
        <img src="css/img/Specialities 6.jpg">
    </div>
</div>

<!--Row 2-->
<div id="r2" class="row">
</div>
