<navbar></navbar>

<!--wrapper-->
<div id="wrapper" class="row">
    <div id="sideBar">
        <div class="row">
            <h2>SPECIALITIES STONEWORK</h2>
        </div>

        <div class="row">
            <p>We have over 20 years of stone work experience and no stone project is too hard for us. We only use the best quality stones and your project will be built to last. </p>
        </div>
    </div> 

    <div id="collage">
        <img src="css/img/specialties_stonework_4.png">
        <img src="css/img/specialties_stonework_2.png">
        <img src="css/img/stonework.jpg">
        <img src="css/img/specialties_stonework_3.png">
        <img src="css/img/Stonework 1.jpg">
        <img src="css/img/specialties_stonework_1.png">
    </div>
</div>

<!--Row 2-->
<div id="r2" class="row">
</div>