<title>Woodwork</title>

<navbar></navbar>

<!--wrapper-->
<div id="wrapper" class="row">
    <div id="sideBar" style="background: url(css/img/backgrounds/retina_wood.png)">
        <div class="row">
            <h2>WOODWORK</h2>
        </div>
    </div> 

    <div id="collage">
        <img src="css/img/specialties_woodwork_7.png">
        <img src="css/img/specialties_woodwork_1.png">
        <img src="css/img/specialties_woodwork_2.png">
        <img src="css/img/specialties_woodwork_3.png">
        <img src="css/img/specialties_woodwork_4.png">
        <img src="css/img/specialties_woodwork_5.png">
        <img src="css/img/specialties_woodwork_6.png">
        <img src="css/img/specialties_woodwork_8.png">
        <img src="css/img/specialties_woodwork_9.png">
        <img src="css/img/Woodwork 3.jpg">
        <img src="css/img/Wood structure 1.jpg">
        <img src="css/img/Wood structure 2.jpg">
    </div>

    <!--Row 2-->
    <div id="r2" class="row">
    </div>
</div>
