<title>About</title>

<navbar></navbar>

 <!--Row 2: History & Experience -->
    <div id="aboutR2" class="row">
        <div id="aboutR2b"class="row">
            <h1>A Brief History</h1>
            <h3>EXPERIENCE & QUALIFICATIONS</h3>
        </div>

        <div id="aboutR2b" class="row">
            <section id="cd-timeline" class="cd-container">
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img">
                    </div> <!-- cd-timeline-img -->

                    <div class="cd-timeline-content">
                        <img src="css/img/eric.jpg">
                        <h2>BORN IN HONG KONG,</h2>
                        <p>Eric Lee moved to Canada in the 1980s and graduated from the University of Toronto with a degree in Landscape Architecture in 1986. Eric subsequently accepted a professional position at Shankland Cox Architects and Planners in Hong Kong. He also received professional construction experience as a site manager and site agent for large construction projects overseas with various companies. </p>
                        <span class="cd-date">1980 to 1986</span>
                    </div> <!-- cd-timeline-content -->

                </div> <!-- cd-timeline-block -->

                <div class="cd-timeline-block">
                    <div class="cd-timeline-img">
                    </div> <!-- cd-timeline-img -->

                    <div class="cd-timeline-content">
                        <h2>WHEN HE RETURNED TO CANADA,</h2>
                        <p>Eric worked for the prestigious landscape and design build company Juergen Partridge Ltd. After obtaining his Bachelor of Landscape Architect(BLA) degree and receiving accreditation from OALA and CSLA, he established his own design and construction firm in 1994.</p>
                        <img src="css/img/eric2.jpg">
                        <span class="cd-date">1994</span>
                    </div> <!-- cd-timeline-content -->
                </div> <!-- cd-timeline-block -->

                <div class="cd-timeline-block">
                    <div class="cd-timeline-img">
                    </div> <!-- cd-timeline-img -->

                    <div class="cd-timeline-content">
                        <h2>OVER THE PAST TWENTY YEARS,</h2>
                        <p>he has maintained a close working relationship with major landscape and architecture firms by providing professional, innovative designs across the GTA.</p>
                        <span class="cd-date">1994 - Present</span>
                    </div> <!-- cd-timeline-content -->
                </div> <!-- cd-timeline-block -->

                
            </section> <!-- cd-timeline -->
        </div>
    </div>

    <!--Row 3: The Team-->
    <div id="aboutR3" class="row">
        <div id="aboutR3c" class="row">
            <h1>The Crew</h1>
            <h3 style="font-size: initial">A TEAM OF PROFESSIONALS</h3>
        </div>

        <div id="aboutR3c" class="row" style="text-align: center; margin-top: 40px">
            <img class="underConstruction" src="css/img/under_construction.png"/>
            <p style="text-align: center">(Under Construction)</p>
            <!--div class="col-md-4">
                <div class="row">
                  <img src="http://placehold.it/200x200">
                </div>
                <h3>First Last</h3>
                <p>Role & Description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut</p>
            </div>

            <div class="col-md-4">
                <div class="row">
                  <img src="http://placehold.it/200x200">
                </div>
                <h3>First Last</h3>
                <p>Role & Description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut</p>
            </div>

            <div class="col-md-4">
                <div class="row">
                  <img src="http://placehold.it/200x200">
                </div>
                <h3>First Last</h3>
                <p>Role & Description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut</p>
            </div-->
        </div>
    </div>

    <!--Row 4: Awards-->
    <!--div id="aboutR4" class="row">
        <div class="row">
            <h1>Awards</h1>
            <h3>SUBTITLE</h3>
        </div>

        <div class="row" style="padding-top: 50px">
            (Section coming soon)
        </div>
    </div>

    <!--Row 5: Affiliates-->
    <div id="aboutR5" class="row">
        <div class="row">
            <h1>Affiliates</h1>
            <h3>PARTNERS & FRIENDS</h3>
        </div>

        <div class="row" id="brands" style="padding-top: 50px">
            <!-- Small -->
            <div class="row">
                <div class="col-sm-4">
                    <p>Corban and Goode</p>
                    <!--img src="img/affiliates/corbonAndGoode.gif"-->
                </div>
                <div class="col-sm-4">
                    <p>Ferris & Associates Inc</p>
                    <!--img src="img/affiliates/ferrisAssociatesInc.gif"-->
                </div>
                <div class="col-sm-4">
                    <p>Flesiher Ridout Partnership</p>
                    <!--img src="img/affiliates/teepleArchitects.jpg"-->
                </div>
            </div>

            <!-- Medium -->
            <div class="row">
                <div class="col-sm-4">
                    <p>William Dewson Architects</p>
                    <!--img src="img/affiliates/bakerTurnerInc.jpg"-->
                </div>
                <div class="col-sm-4">
                    <p>Teeple Architect Inc</p>
                    <!--img src="img/affiliates/ivanhoeCambridge.jpg"-->
                </div>
                <div class="col-sm-4">
                    <p>Sting Ray Architects</p>
                    <!--img src="img/affiliates/adventHealthCAre.jpg"-->
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-4">
                    <p>Morguard</p>
                    <!--img src="img/affiliates/stingrayArchitects.jpg"-->
                </div>
                <div class="col-sm-4">
                    <p>Minto Group Inc</p>
                    <!--img src="img/affiliates/greenpeaceCanada.png"--> 
                </div>
                <div class="col-sm-4">
                    <p>Ivanhoe Cambridge</p>
                    <!--img src="img/affiliates/context.png"-->
                </div>
            </div>

            <!-- Large -->
            <div class="row">
                <div class="col-sm-4">
                    <p>Oakville Place Holding Inc</p>
                    <!--img src="img/affiliates/monSheong.jpg"-->
                </div>
                <div class="col-sm-4">
                    <p>Context Development Inc</p>
                    <!--img src="img/affiliates/morguard.png"-->
                </div>
                <div class="col-sm-4">
                    <p>Greenpeace Canada</p>
                    <!--img src="img/affiliates/sgiCanada.jpg"-->
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <p>YWCA Toronto</p>
                    <!--img src="img/affiliates/minto.png"-->
                </div>
                <div class="col-sm-4">
                    <p>IBM Canada</p>
                    <!--img src="img/affiliates/ywcaToronto.gif"-->
                </div>
                <div class="col-sm-4">
                    <p>Mon Sheong Foundation</p>
                    <!--img src="img/affiliates/ibm.jpg"--> 
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <p>SGI Canada</p>
                </div>

                <div class="col-sm-4">
                    <p>Advent Health Care</p>
                </div>

                <div class="col-sm-4">
                </div>
            </div>

            <!--div class="row">
                <p style="color: black; font-family: Arial; font-weight: bolder; font-size: 28px; text-align:center">WILLIAM DEWSON ARCHITECTS</p>
            </div>

            <div class="row">
                <img src="img/affiliates/fleisherRidoutPartnership.png">
            </div-->            
        </div>
    </div>

    <!--Row 6: Contact Us-->
    <div id="aboutR6" class="row">
        <div class="row" id="contactUs">
            <h1>Contact Us</h1>
            <h3>WE'D LOVE TO HEAR FROM YOU</h3>

            <div class="row" style="padding-top: 50px">
                <p>Feel free to contact us for any inquiries or quotes!</p>
                <p><span class="glyphicon glyphicon-envelope"></span> Email | <a href="mailto:Eric@zonesix.com"><em>Eric@zonesix.com</em></a></p>
                <p><span class="glyphicon glyphicon-earphone"></span> Phone | <a href="tel:4166868457"><em>(416)-686-8457</em></a></p>
            </div>
        </div>

        <div class="row" id="gmaps" style="padding-left: 0; padding-right: 0">
            <div style="overflow:hidden; height:400px;width: 100%;">
                <div id="gmap_canvas" style="height:400px;width:100%;">
                </div>
                <style>
                    
                </style>
                <a class="google-map-code" href="http://www.mapembed.com" id="get-map-data">mapembed.com</a>
            </div>
        </div>
    </div>

    <zone-six-footer></zone-six-footer>