<title>Zone Six Design Build</title>

<navbar></navbar>

<!--frontRow 1: Intro-->
    <div id="frontR1" class="frontRow">
        <div id="frontR0a" class="frontRow">
        </div>

        <!--frontRow 1-->
        <div id="frontR1a" class="frontRow"> 
            <h1 style="font-weight: bold">ZONE SIX <span>DESIGN BUILD LTD<span></h1>
            <h3 style="font-size: x-large">SERVING TORONTO & GTA SINCE 1994</h3>
        </div>

        <!--frontRow 2-->
        <div id="frontR2a" class="frontRow">
            <ul id="lightSlider">
                <li>
                	<div class="textSlide">
                        <p class="quote">"The results of your endeavours have been <span>outstanding beyond expectations</span>... From inception, the design was performed with <span>exceptional skill and creativity.</span>”</p>
                        <p class="reference"><em style="font-style: italic"> - Diamond and Schmitt Architects Incorporated</em></p>
                    </div>
                </li>
                <li>
                    <div class="textSlide">
                        <p class="quote">"I have referred this company to numerous clients, associates and friends and without exception have applauded their <span>abilities, integrity and the thoroughness</span> of their work.”</p>
                        <p class="reference"><em style="font-style: italic"> - Ferris + Associates Inc. </em></p>
                    </div>
                </li>
                <li>
                    <div class="textSlide">
                        <p class="quote">“These projects have been completed not only to our satisfaction, but also to <span>exceed our expectations</span> and those of his delighted customers.”</p>
                        <p class="reference"><em style="font-style: italic"> - Corban and Goode Landscape Architecture and urbanism</em></p>
                    </div>
                </li>
                <li>
                    <div class="textSlide">
                        <p class="quote">“The final product is always of the <span>best quality, built on time and within the projected budget</span>."</p>
                        <p class="reference"><em style="font-style: italic"> - Corban and Goode Landscape Architecture and urbanism</em></p>
                    </div>
                </li>
                <li>
                    <div class="textSlide">
                        <p class="quote">“High Quality of design development and <span>detail construction</span>."</p>
                        <p class="reference"><em style="font-style: italic"> - Architectural Models Inc</em></p>
                    </div>
                </li>          
            </ul>
        </div>

        <!--frontRow 3-->
        <div id="frontR3a" class="frontRow">
            <ul>
                <li>
                    <a class="btn btn-theme" href="#/softscape" role="button">
                        SOFTSCAPE
                    </a>
                </li>
                    
                <li>
                    <a class="btn btn-theme" href="#/hardscape" role="button">
                        HARDSCAPE
                    </a>
                </li>

                <li>
                    <a class="btn btn-theme" href="#/specialties" role="button">
                        SPECIALTIES
                    </a>
                </li>
            </ul>
        </div>

        <!--frontRow 4-->
        <div id="frontR4a" class="frontRow">
            <p><span class="glyphicon glyphicon-envelope"></span> Email | <a href="mailto:Eric@zonesix.com"><em>Eric@zonesix.com</em></a></p>
            <p><span class="glyphicon glyphicon-earphone"></span> Phone | <a href="tel:4166868457"><em>(416)-686-8457</em></a></p>
        </div>
    </div>

    
