<navbar></navbar>

<!--wrapper-->
<div id="wrapper" class="row">
    <div id="sideBar">
        <div class="row">
            <h2>HARDSCAPE COMMERCIAL</h2>
        </div>

        <div class="row">
            <p>(Under Construction)</p>
        </div>
    </div> 

    <div id="collage">
        <img src="css/img/hardscape_commercial_1.png">
        <img src="css/img/hardscape_commercial_2.png">
        <img src="css/img/hardscape_commercial_3.png">
    </div>
</div>

<!--Row 2-->
<div id="r2" class="row">
</div>



