<navbar></navbar>

<!--Row 1-->
<div id="softscapeR1" class="row">
    <div class="col-xs-0 col-lg-2">
        <!--Intentionally left blank-->
    </div>

    <div class="col-xs-12 col-lg-8">
        <ul id="demo1">
            <li><a href="#/softscape-commercial"><img src="css/img/slideshow_softscape_commercial_2.png"></a></li>
            <li><a href="#/softscape-residential"><img src="css/img/slideshow_softscape_commercial_5.png"></a></li>
            <li><a href="#/softscape-residential"><img src="css/img/slideshow_softscape_residential_8.png"></a></li>
        </ul>
    </div>

    <div class="col-xs-0 col-lg-2">
    <!--Intentionally left blank-->
    </div>
</div>

<!--Row 2-->
<div id="softscapeR2" class="row">
    <div class="col-sm-0 col-md-0 col-lg-2">
        <!--Intentionally left blank-->
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3">
        <p class="softscapeSubtitle">EXPERIENCE YOU CAN TRUST</p>
        <p class="softscapeParagraph">At Zone Six Design Build Ltd we pride our experience on working with plant material to provide an area just for you.</p>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3">
        <p class="softscapeSubtitle">SOFTSCAPE</p>
        <p class="softscapeParagraph">Softscape refers to plant material which has function for both aesthetics and creative functional aspects which creates micro climates for outdoor space and seasonal colour changes interest. Softscape provides the project with fine details to creation of character, aura, ambience and are able produce a different space depending on the season.</p>
    </div>


    <div class="col-sm-0 col-md-4 col-lg-2">
        <ul id="buttonBar">
            <li>
                <a id="softscapeBtnResidential" class="btn btn-theme" role="button" href="#/softscape-residential">RESIDENTIAL</a>
            </li>
            <li>
                <a id="softscapeBtnCommercial" class="btn btn-theme" role="button" href="#/softscape-commercial">COMMERCIAL</a>
            </li>
        </ul>
    </div>

    <div class="col-sm-0 col-md-0 col-lg-2">
        <!--Intentionally left blank-->
    </div>
</div>

<zone-six-footer></zone-six-footer>


