<title>Softscape Commercial</title>

<navbar></navbar>

<!--wrapper-->
<div id="wrapper" class="row">
    <div id="sideBar" style="background: url(css/img/backgrounds/subtle_dots.png)">
        <div class="row">
            <h2>SOFTSCAPE COMMERCIAL</h2>
        </div>
    </div> 

    <div id="collage">
        <img src="css/img/hardscape_commercial_3.png">
        <img src="css/img/hardscape_commercial_2.png">
        <img src="css/img/Commercial 0.jpg">
        <img src="css/img/Commercial 1.jpg">
        <img src="css/img/Commercial 2.jpg">
        <img src="css/img/Commercial 3.jpg">
        <img src="css/img/Commercial 4.jpg">
        <img src="css/img/Commercial 5.jpg">
        <img src="css/img/Commercial 6.jpg">       
    </div>
</div>

<!--Row 2-->
<div id="r2" class="row">
</div>

