<title>Softscape Residential</title>

<navbar></navbar>

<!--wrapper-->
<div id="wrapper" class="row">
    <div id="sideBar" style="background: url(css/img/backgrounds/dust.png)">
        <div class="row">
            <h2>SOFTSCAPE RESIDENTIAL</h2>
        </div>
    </div> 

    <div id="collage">
        <img src="css/img/softscape_residential_1.png">
        <img src="css/img/softscape_residential_2.png">
        <img src="css/img/softscape_residential_3.png">
        <img src="css/img/softscape_residential_4.png">
        <img src="css/img/softscape_residential_5.png">
        <img src="css/img/softscape_commercial_5.png">
        <img src="css/img/softscape_residential_8.png">
        <img src="css/img/softscape_residential_6.png">
        <img src="css/img/softscape_commercial_1.png">
        <img src="css/img/softscape_residential_9.png">
        <img src="css/img/softscape_commercial_3.png">
        <img src="css/img/softscape_commercial_2.png">
        <img src="css/img/softscape_commercial_4.png">
        <img src="css/img/softscape_residential_7.png">
        <img src="css/img/softscape_commercial_3.png">
        <img src="css/img/Residential.jpg">
    </div>

    <!--Row 2-->
    <div id="r2" class="row">
    </div>

</div>